@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(42, 1, 104);
    color: white;
}
header {
    height: 50px;
    width: 100vw;
    background-color: black;
}

header > h1 {
    font-size: 1.5em;
    margin-left: 125px;
    padding-left: 30px;
    padding-top: 5px;
    background-color: black;
}

menu#itens {
    list-style-type: none;
    display: none;
    text-align: center;
    width: vw;
    height: 100vh;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.726);
}

menu#itens > ul > li {
    padding: 10px;
} 

menu#itens > ul > li > a {
    text-decoration: none;
    font-size: 2.5em;
}

menu#itens > ul > p#lista {
    font-size: 2.3em;
    margin-bottom: 50px;
}
    

span#burguer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 40px;
}

span#tema{
    display: block;
    position: fixed;
    top: 0;
    padding-left: 40px ;
    padding-top: 10px;
}

main > section{
    display: block;
    width: 100vw;
    height:300px ;
    background-color:rgba(0, 0, 255, 0.582);
}

main > section > div#nome {
    padding-top: 100px;
    padding-left: 30px;
    
}

main > section > div#nome > h1 {
    font-size: 1.7em;
}

main > section > div#nome > p {
    font-size: 0.8em;
}

main > section > div#nome > a {
    position: absolute;
    margin-left: 60px;
    margin-top: 15px;
}
