@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(23, 13, 13);
    color: rgb(222, 216, 205);
   
}
header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;
    background-color:rgb(23, 13, 13) ;
    border-bottom: 1px solid white;
    z-index: 1000;
}

header > h1 {
    position: absolute;
    font-size: 1.5em;
    left: 33%;
    top: 0%;
    margin-top: 15px;

}

menu#itens {
    position: fixed;
    top: 0;
    margin-top: 50px;
    list-style-type: none;
    display: none;
    text-align: center;
    width: 98vw;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.812);
    z-index: 1000;
}

menu#itens > ul > li {
    padding: 10px;
} 

menu#itens > ul > li > a {
    text-decoration: none;
    font-size: 2.5em;
    color: rgb(222, 216, 205);
}

menu#itens > ul > li > a:hover {
    box-shadow: 2px 2px 7px rgb(222, 216, 205);
    padding: 13px;
    border-radius: 5px;
    font-weight: bolder;
}

menu#itens > ul > p#lista {
    display: block;
    font-size: 2.3em;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 25px;
    width: 400px;
    color: rgb(198, 156, 109);
}
    

span#burguer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-top: 15px;
    margin-right:40px ;
}

span#tema{
    display: block;
    position: fixed;
    top: 0;
    margin-left:40px ;
    margin-top: 15px;
}

main > section#apresentacao.animatioaparecer{
    margin-left: 30px;
    animation: aparecer 3s linear;
}

@keyframes aparecer{
    from {opacity:0}
    to {opacity: 1;}
}


main > section#apresentacao > div#nome {
    margin-top: 100px;
    
    
}

main > section#apresentacao > div#nome > h1#saldacao {
    font-size: 2em;
}

main > section#apresentacao > div#nome > h1#vt {
    color:rgb(198, 156, 109) ;
    margin-left: 2px;
    font-size: 2em;
}

main > section#apresentacao > div#nome > p {
    font-size: 1em;
    
}

main > section#apresentacao > div#nome > a#contato {
    display: block;
    margin-left: 60px;
    margin-top: 15px;
    padding: 10px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(156, 120, 79) ;
    color: white;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.716);

}

main > section#apresentacao > div#nome > a#contato:hover {
    background-color: rgb(222, 216, 205);
    color:rgb(156, 120, 79)  ;
}

main > section#apresentacao > div#nome > p#web{
    font-size: 1.3em;
    margin-top: 15px;
    font-weight: bolder;
    color: rgb(198, 156, 109) ;
    
}

main > section#apresentacao > div#nome > p {
    text-align: justify;
    width: 350px;
}

main > section#apresentacao > div#nome > div#ico {
    border-bottom: 1px solid rgba(255, 255, 255, 0.379);
    width: 200px;
    margin-left: 13px;
    margin-top: 10px;
}

main > section#apresentacao > div#nome > div#ico > img {
    margin-top: 10px;
    height: 25px;
    border-radius: 3px;
    margin-left: 12px;

}

section#sobre.animatioaparecer{
    margin: 30px;
    animation: aparecer 3s linear;
}

section#sobre > h1#eu {
    border-bottom: 1px solid white;
    text-align: center;
    margin: 30px;
    font-size: 2em;
    color: rgb(198, 156, 109);
}

section#sobre > p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
}

section#projetos, section#redes {
    transition: opacity 1s ease, visibility 1s ease;
}




main > section#projetos > h1#tpro{
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 2em;
    margin: 50px;
    color: rgb(198, 156, 109);
}

main > section#projetos.animatioPosition {
    position: relative;
    margin: 50px;
    text-align: center;
    animation: position .5s linear;

}
@keyframes position {
    0%{
        top: 0%;
        left: -30%;
    }

    100%{
        top: 0%;
        left:3%;
    }
}

main > section#projetos > a > img {
    margin-bottom: 30px;
    width: 200px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


main > section#projetos > a > img::after {
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 black;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main > section#projetos> a > img:hover{
   transform: scale(1.25,1.25);
}


main > section#redes.animatioPosition {
    position: relative;
    margin: 30px;
    animation: position .5s linear;
}

main > section#redes > h1#hredes{
    border-bottom: 1px solid white;
    text-align: center;
    margin: 50px ;
    color: rgb(198, 156, 109);
    font-size: 2em;
}

main > section#redes > div#iredes > ul {
    text-align: center;
    list-style-type: none;
        


}

main > section#redes > div#iredes > ul > li{
        display: block;
        display: inline-block;
        margin: 30px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        
}

main > section#redes > div#iredes > ul > li::after {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 black;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main > section#redes > div#iredes > ul > li:hover{
    transform: scale(1.25,1.25);
}


main > section#redes > div#iredes > ul > li > a {
        text-decoration: none;
        color: rgb(230, 216, 201);
        
}
main > section#redes > div#iredes > ul > li:hover{
        cursor: pointer;
}
    



 
        
